/* gnome-terminal */

/* vte use hardcoded colors as upstream, ubuntu is patched */
vte-terminal {
    -TerminalScreen-background-darkness: 0.95;
    background-color: shade (#373633, 1.25);
    color: @dark_fg_color;
}
