/**************
 * Mate-Panel *
 **************/

/* the panel bar itself */
PanelToplevel.background {
    background-color: @dark_bg_color;
}

.mate-panel-menu-bar {
    background-color: @dark_bg_color;
    background-image: none;
    /* normal panel */
    color: @dark_fg_color;
    /* transparent panel, light desktop background*/
    /* color: @fg_color; */
    text-shadow: none;
}

/* workaround to avoid unwanted black frames behind menus if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

/* hide buttons */
PanelToplevel.background .button {
    border-image: none;
    background-image: none;
    background: transparent;
    border-style: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
    color: @dark_fg_color;
}

PanelToplevel.background .button:hover,
PanelToplevel.background .button:hover:active {
    border-radius: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.2)),
                                     to (shade (@dark_bg_color, 1.1)));
}

MatePanelApplet {
    border-width: 0;
}

PanelWidget > PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.3)),
                                     to (shade (@dark_bg_color, 1.05)));

    color: shade (@dark_bg_color, 1.3);
}

/* the grid left from wnckpager and wncktasklist */
MatePanelAppletFrameDBus {
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

/* set normal menubar button */
PanelMenuBar.menubar,
PanelMenuBar.menubar .menuitem {
    background-image: none;
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
}

/* set normal menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
    transition: all 300ms ease-out;
}

/* set single menubar menuitem */
PanelMenuButton .menu .menuitem {
    transition: all 300ms ease-out;
}

/* set WnckSelector menuitem */
WnckSelector.menubar .menu .menuitem {
    transition: all 300ms ease-out;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button,
MatePanelApplet .button.flat {
    transition: all 400ms ease-out;
    background-image: none;
    background-color: transparent;
    /* normal panel */
    color: @dark_fg_color;
    /* transparent panel light desktop background*/
    /* color: @fg_color; */
    padding: 2px;
    border-radius: 3px;
    border-image: none;
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
}

MatePanelApplet .button:hover:active,
MatePanelApplet .button.flat:hover:active,
MatePanelApplet .button.flat:backdrop,
MatePanelApplet .button:backdrop {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.85)),
                                     to (shade (@dark_bg_color, 1.0)));
    border-color: shade (@dark_bg_color, 0.9);
    border-radius: 3px;
    border-image: none;
    color: @dark_fg_color;
}

MatePanelApplet .button:hover,
MatePanelApplet .button.flat:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.7)),
                                     to (shade (@dark_bg_color, 1.25)));
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.4);
    border-radius: 3px;
    border-image: none;
    color: @dark_fg_color;
}

MatePanelApplet .button:checked,
MatePanelApplet .button.flat:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.75)),
                                     to (shade (@dark_bg_color, 0.9)));
    color: @dark_fg_color;
    border-radius: 3px;
    border-image: none;
}

MatePanelApplet > #clock-applet-button {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
    color: @dark_fg_color;
}

/* WnckPager */
WnckPager {
    background-image: none;
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
}

/* selected WnckPager */
WnckPager:selected {
    background-image: linear-gradient(to bottom,
                                      @theme_selected_bg_color,
                                      shade (@theme_selected_bg_color, 0.36));
}

/* prelight of WnckPager */
WnckPager:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.56),
                                      @theme_selected_bg_color);
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/*****************
 * Mate-terminal *
 *****************/

TerminalWindow.mate-terminal TerminalScreen {
    -TerminalScreen-background-darkness: 0.95;
    background-color: @dark_bg_color;
    color: @dark_fg_color;
}

