/**************
 * Mate-Panel *
 **************/

CalendarWindow#MatePanelPopupWindow {
	border-radius: 3px;
}

/* FIXME, does not work */
CalendarWindow#MatePanelPopupWindow ClockMap {
	border-style: solid;
	border-width: 1px;
    border-color: shade (@bg_color, 0.82);
}

